.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;

    .mat-card {
        background-color: #D1B7A1;
        color: #FFFFFF;

        .mat-card-content {
            background-color: #FFFFFF;
        }
    }
}