.landing-page {
    .page-container {
        max-width: 1280px;
        margin: auto;

        .header {
            padding-top: 10px;
            text-align: center;
            color: #E17E76;
        }
        
        .top-image-container {
            padding-bottom: 20px;

            .beige-image {
                height: 350px;
                width: 100%;
            }
        }
    }
}