.landing-page {
    padding: 25px 100px;
    .page-container {
        .top-image-container {
            padding-bottom: 20px;

            .beige-image {
                height: 350px;
                width: 100%;
            }
        }
    }
}