<div class="about">
    <div class="profile">
        <div class="description">
            <h1>Hi, I am Roijan</h1>
            <h2>Full stack developer</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum ultrices est ut commodo. Vivamus in metus nunc. Aenean ac mi eu neque imperdiet vehicula. Phasellus tincidunt efficitur magna ut venenatis. Vivamus blandit ante nibh, porttitor faucibus mauris bibendum eu. Integer ultrices leo nisl, rutrum lobortis urna consectetur at. Nunc ipsum risus, venenatis eu risus a, lacinia dictum tellus. Donec maximus interdum mauris ac finibus. Sed in sapien placerat, lacinia diam eu, tincidunt purus. Curabitur fermentum iaculis nunc vel viverra. Phasellus ut mattis nisl. Aliquam erat volutpat.
            </p>
            <button mat-button class="contact-button">Contact me <mat-icon>send</mat-icon></button>
        </div>
        <div class="image">
            <img class="profile-image" src="../../assets/images/me.jpg">
        </div>
    </div>
</div>