<footer>
    <mat-toolbar>
        <span class="navbar-spacer"></span>
        <div>
            <a class="navbar-link" mat-button [routerLink]="'/contact'"> <mat-icon>email</mat-icon> </a>
            <a class="navbar-link" mat-button href="https://www.linkedin.com/in/roijan-caballero-a08661163/" target="_blank"> <mat-icon svgIcon="linkedin"></mat-icon> </a>
            <a class="navbar-link" mat-button href="https://github.com/HeyItsRoi/angular-sandbox" target="_blank"> <mat-icon svgIcon="github"></mat-icon> </a>
        </div>
    </mat-toolbar>
</footer>