<div class="navbar">
    <mat-toolbar>
        <span class="navbar-name">
            <a class="navbar-link" [routerLink]="'/'"> Roijan </a>
        </span>
        <span class="navbar-spacer"></span>
        <div>
            <a class="navbar-link" mat-button [routerLink]="'/about'"> About </a>
            <a class="navbar-link" mat-button [routerLink]="'/skills'"> Skills </a>
            <a class="navbar-link" mat-button [routerLink]="'/portfolio'"> Portfolio </a>
            <a class="navbar-link" mat-button [routerLink]="'/contact'"> Contact </a>
        </div>
    </mat-toolbar>
</div>